$copy-font: 'Open Sans', sans-serif;
$heading-font: 'Muli', sans-serif;
$font-color: #242526;
$purple: #5717D9;
$dark-green: #032408;
$dark-purple: #200752;
$light-green: #DDF2E8;
$light-orange: #FFEBD6;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
