@font-face {
	font-family: 'Open Sans';
	src: url(../assets/fonts/open-sans-regular.woff);
}

@font-face {
	font-family: 'Exo';
	src: url(../assets/fonts/exo-regular.woff);
}

$copy-font: 'Open Sans', sans-serif;
$heading-font: 'Exo', sans-serif;
$font-color: #242526;
$purple: #5717D9;
$dark-green: #032408;
$dark-purple: #0f012b;
$light-green: #F1F9F5;
$light-orange: #FFFBF5;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
